.CommonProgramDetailsDiv {
  background-size: cover;
  background-position: top;
}

.ProgramDetailsRouteLinks
  :is(.ProgramDetailsLink, .InvitationsLink, .ParticipantsLink, .ApplicantsLink).Link {
  color: var(--yellow-700);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  padding: 0.1rem 0.5rem;
}

.ProgramDetailsRouteLinks div {
  margin: 0.3rem auto;
}

.ProgramDetailsRouteLinks .CurrentSelectedTab {
  height: 2.2rem !important;
}

.ProgramDetailsRouteLinks .BlankDiv {
  height: 2.1rem !important;
}

.ProgramDetailsRouteLinks {
  animation-name: box-shadow-animation;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes box-shadow-animation {
  50% {
    box-shadow: 2px 2px 10px var(--barley-corn);
  }
}
