.CommonProgramDetailsDiv {
  background-size: cover;
  background-position: top;
}

.ProgramDetailsRouteLinks
  :is(.ProgramDetailsLink, .InvitationsLink, .ParticipantsLink).Link {
  color: var(--yellow-700);
  font-weight: 600;
  cursor: pointer;
}

.ProgramDetailsRouteLinks
  :is(.ProgramDetailsLink, .InvitationsLink, .ParticipantsLink).Link:hover {
  text-decoration: underline;
}

.ProgramDetailsRouteLinks :is(.ProgramDetailsLink, .InvitationsLink) {
  text-decoration: none;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 2px solid var(--yellow-700);
}

.ProgramDetailsRouteLinks .ParticipantsLink {
  text-decoration: none;
}

.ProgramDetailsRouteLinks {
  animation-name: box-shadow-animation;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes box-shadow-animation {
  50% {
    box-shadow: 2px 2px 10px var(--barley-corn);
  }
}
