.OrgDirectoryCardContainer
  .DataContainerDiv
  :is(.CardNameDiv, .CardEmailDiv, .CardActiveProgramDiv) {
  margin: 0.2rem 0;
  padding: 0 1rem;
  display: flex;
}

.OrgDirectoryCardContainer .DataContainerDiv .CardNameDiv {
  padding-top: 0.5rem;
}

.OrgDirectoryCardContainer .DataContainerDiv .CardActiveProgramDiv {
  padding-bottom: 0.5rem;
}

.OrgDirectoryCardContainer
  .DataContainerDiv
  :is(.CardNameDiv, .CardEmailDiv, .CardActiveProgramDiv)
  .Text {
  color: var(--blue-gray-700);
  font-weight: 600;
  width: 7rem;
}

.OrgDirectoryCardContainer
  .DataContainerDiv
  :is(.CardNameDiv, .CardEmailDiv, .CardActiveProgramDiv)
  .Data {
  color: var(--yellow-700);
  font-size: 1.15rem !important;
}
