.ProgressStepContainer {
  padding: 2rem 0;
  width: 12rem;
}

.ProgressStep {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProgressText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.Line {
  border-radius: 5px;
  width: 50px;
  border: 2px solid var(--white);
}

.Circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--white);
  text-align: center;
  color: var(--blue-gray-600);
}

.CurrentLine,
.CurrentCircle {
  border-color: var(--cyan-shade);
  background-color: var(--cyan-shade);
}

.VisitedLine,
.VisitedCircle {
  border-color: var(--green-400);
  background-color: var(--green-400);
  color: var(--white);
}

.BiCheckIcon {
  font-size: 1.5rem;
}
