.OrgHomeSectionOneContainer {
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 6rem 0;
  padding-left: 7rem;
  padding-right: 1rem;
  box-shadow: 0 1px 20px var(--blue-gray-300);
  border-bottom: 1px solid var(--blue-gray-300);
}

.OrgHomeSectionOneContainer .TextContainer {
  border-left: 5px solid var(--instagram-code);
  padding: 0.5rem 0;
  padding-left: 1.5rem;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  word-break: break-all;
  box-shadow: -2px 0 var(--bs-white);
}

.TextContainer span {
  display: block;
  background-color: var(--white);
  padding: 0.2rem 0.3rem;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid var(--blue-gray-300);
  margin: 0.5rem 0;
  box-shadow: 2px 2px 6px var(--blue-gray-300);
  animation-name: span-width-animate;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes span-width-animate {
  0% {
    width: 0;
  }

  15% {
    width: 15%;
  }

  25% {
    width: 25%;
  }

  35% {
    width: 35%;
  }

  45% {
    width: 45%;
  }

  50% {
    width: fit-content;
  }
}

@media screen and (max-width: 785px) {
  .OrgHomeSectionOneContainer .TextContainer {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 833px) {
  .OrgHomeSectionOneContainer {
    padding: 3rem 0;
    padding-left: 4rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .OrgHomeSectionOneContainer {
    padding-left: 1rem;
  }
}

.OrgHomeSectionTwo {
  padding: 0.2rem 0.4rem;
  margin: 1.5rem auto;
}

.SectionThreeAndFourContainer {
  background-color: var(--white);
  margin: auto 1rem;
  border: 1px solid var(--blue-gray-300);
  box-shadow: 1px 1px 10px var(--blue-gray-300);
}

.OrgHomeSectionThreeContainer,
.OrgHomeSectionFourContainer {
  padding: 2rem 0.5rem;
  margin: auto 1rem;
}

.OrgHomeSectionThreeContainer {
  border-bottom: 2px solid var(--blue-gray-300);
}

.OrgHomeSectionFiveContainer,
.OrgHomeSectionSixContainer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* SectionHeadingDiv */

.OrgHomeSectionContainer :is(.SectionHeadingDiv, .ApplicantsSubHeading) {
  width: fit-content;
  padding: 0.2rem 1.3rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: auto;
}

.OrgHomeSectionContainer .SectionHeadingDiv {
  background-color: var(--section-heading-div);
  color: var(--yellow-700);
  box-shadow: 1px 1px 4px var(--barley-corn);
  border-left: 1px solid var(--barley-corn);
  border-top: 1px solid var(--barley-corn);
}

.OrgHomeSectionContainer .ApplicantsSubHeading {
  margin-top: 1rem;
  background-color: var(--light-blue-300);
}

/*  */

/* ErrorNoProgramsDiv */

.OrgHomeSectionContainer .ErrorNoProgramsDiv {
  width: fit-content;
  font-size: 1.1rem;
  margin: 2rem auto;
}

/*  */

/* MentorInfoCard, StudentInfoCard, InvitationsInfoCard */

.OrgHomeSectionFiveContainer :is(.MentorInfoCard, .StudentInfoCard),
.OrgHomeSectionSixContainer :is(.InvitationsInfoCard, .ApplicantsInfoCard) {
  background-color: var(--white);
  width: 26rem;
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--blue-gray-300);
  box-shadow: 1px 1px 10px var(--blue-gray-300);
  margin: 1rem auto;
}

:is(.MentorInfoCard, .StudentInfoCard, .InvitationsInfoCard)
  .StatNImgContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  flex-wrap: wrap;
}

.InvitationsInfoCard .StatNImgContainer {
  margin-bottom: 2.2rem;
}

.InvitationsInfoCard .StatNImgContainer {
  align-items: center;
}

@media screen and (max-width: 448px) {
  :is(.MentorInfoCard, .StudentInfoCard, .InvitationsInfoCard)
    .StatNImgContainer {
    justify-content: center;
  }
}

:is(.MentorInfoCard, .StudentInfoCard) .StatDivContainer {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

:is(.MentorInfoCard, .StudentInfoCard)
  .StatDivContainer
  :is(.TotalStatDiv, .NewThisMonthDiv) {
  margin: 0.5rem 0;
  width: fit-content;
}

@media screen and (max-width: 880px) {
  .StudentInfoCard {
    margin: 1rem 0;
  }
}

.OrgHomeMentorInfoCardImg,
.OrgHomeStudentInfoCardImg,
.OrgHomeInvitationsInfoCardImg {
  max-width: 10rem;
  height: 10rem;
  margin: 1rem;
  margin-bottom: 0;
}

.InvitationsInfoCard .AcceptedNPendingContainer,
.ApplicantsInfoCard :is(.MentorApplicants, .StudentApplicants) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.ApplicantsInfoCard .MentorApplicants {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--blue-gray-300);
}

/*  */

/* CurrentStatDiv */

.OrgHomeSectionContainer .CurrentStatDiv {
  text-align: center;
  width: 8rem;
  background-color: var(--blue-gray-100);
  box-shadow: 1px 3.5px 3.5px var(--blue-gray-400);
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
  font-size: 1.2rem;
  color: var(--blue-gray-700);
  font-weight: 500;
}

/*  */

/* NextBtnDiv */

.OrgHomeSectionContainer .NextBtnDiv {
  padding-top: 1rem;
  text-align: center;
  font-weight: 600;
  color: var(--blue-gray-700);
}

.OrgHomeSectionContainer .NextBtnIconContainer {
  margin: auto;
  display: block;
  border: 1px solid var(--blue-gray-300);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  box-shadow: 2px 2px 3px var(--blue-gray-400),
    -1px -1px 3px var(--blue-gray-400);
  background-color: var(--white);
}

.OrgHomeSectionContainer .NextBtnIconContainer:hover {
  border-color: var(--blue-gray-400);
}

.OrgHomeSectionContainer .NextBtnIcon {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  color: var(--blue-gray-700);
  stroke-width: 0.8;
  animation-name: right-move-next-btn;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes right-move-next-btn {
  50% {
    transform: translateX(2px);
  }
}

/*  */

/* ProgramCard */

:is(.OrgHomeSectionThreeContainer, .OrgHomeSectionFourContainer)
  .ProgramCardContainer {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ProgramCardBackgroundColor {
  background: linear-gradient(34deg, #ccffff, #ffcccc);
}

@media screen and (max-width: 412px) {
  .ProgramCardBackgroundColor {
    box-shadow: none !important;
  }
}

/*  */

/* NextBtnDivContainer SectionThree */

.NextBtnDivContainer {
  background-color: var(--blue-gray-300);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 11rem;
  height: 37rem;
  position: absolute;
  top: inherit;
  margin-right: -15rem;
  opacity: 0.7;
  z-index: 10;
}

.NextBtnDivItem {
  margin-top: 14rem !important;
  font-weight: bold !important;
  z-index: 20;
  position: relative;
  stroke-width: 1;
}

@media screen and (max-width: 488px) {
  .NextBtnDivContainer {
    margin-right: -13rem;
  }
}

@media screen and (max-width: 450px) {
  .NextBtnDivContainer {
    width: 10rem;
    margin-right: -11rem;
  }
}

@media screen and (min-width: 867px) {
  .NextBtnDivContainerWithRight {
    right: 3rem;
    margin-right: 0;
  }
}

@media screen and (min-width: 1050px) {
  .NextBtnDivContainerWithRight {
    right: 6rem;
    margin-right: 0;
  }
}

/*  */
