.StuUpdatesOrganisationDetailsCommonContainer {
  background-size: cover;
  background-position: center;
}

.StuUpdatesOrganisationDetailsCommonContainer .CommonProgramDetailsHeroText {
  padding: 2rem 0 1rem 5rem !important;
}
