.StuUpdatesOrganisationDetailsCommonContainer {
  background-size: cover;
  background-position: center;
}

.StuUpdatesOrganisationDetailsCommonContainer
  .PDViewAndRouteLinksContainer
  button {
  background-color: inherit !important;
  border: none !important;
}
