.OrgDirectoryPageHeaderContainer {
  background-size: cover;
  background-position: top;
  box-shadow: 0 1px 10px var(--blue-gray-400);
}

.SearchBarContainer {
  max-width: 30rem;
  margin: 1rem auto;
  border-radius: 20px;
  padding: 0 0.5rem;
  background-color: var(--white);
  box-shadow: 1px 1px 4px var(--blue-gray-700);
}

.SearchBarContainer .DirectorySearchFormControl {
  border: none !important;
  font-size: 1.2rem;
  margin-top: 0 !important;
}

.SearchBarContainer .SearchIcon {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 510px) {
  .SearchBarContainer {
    width: 22rem;
  }
}
