.CommonHomeContainer {
  max-width: inherit;
}

.CommonHomeSectionOne {
  display: flex;
  justify-content: space-between;
  background-color: var(--floral-white);
}

.CommonHomeSectionOne .TextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 4rem;
  text-align: justify;
}

.CommonHomeSectionOne .TextContainer h1 {
  color: var(--barley-corn);
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}

.CommonHomeSectionOne .TextContainer h4 {
  font-size: 1.3rem;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.CommonHomeSectionOne .TextContainer p {
  font-weight: 600;
  word-spacing: 10px;
}

.CommonHomeSectionOne .TextContainer :is(h4, p) {
  color: var(--blue-gray-500);
  font-family: "Poppins", sans-serif;
}

.CommonHomeSectionTwo {
  display: flex;
}

.CommonHomeSectionTwo .LeftPart {
  background-color: var(--black);
  color: var(--white);
}

.CommonHomeSectionTwo :is(.LeftPart, .RightPart) {
  width: 50%;
  padding: 5rem;
  text-align: justify;
  font-size: 1.4rem;
}

.CommonHomeSectionTwo :is(.LeftPart, .RightPart) h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.CommonHomeSectionTwo :is(.LeftPart, .RightPart) blockquote {
  line-height: 1.8;
  padding-bottom: 1rem;
}

.CommonHomeSectionTwo :is(.LeftPart, .RightPart) span {
  font-family: "Macondo", cursive;
  font-size: 2rem;
}

.LeftPart span {
  color: var(--drover-code);
}

.RightPart span {
  color: var(--rightpart-quote-code);
  font-size: 2.2rem !important;
  font-weight: bold;
}

.CommonHomeSectionSix .TextContainer p {
  font-size: 1.3rem !important;
}

.CommonHomeSectionSeven {
  background-color: var(--red-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.CommonHomeForm {
  box-shadow: 1px 1px 10px var(--light-blue-300) !important;
}

.CommonHomeFormText {
  display: block;
  text-align: center !important;
  font-size: 2.5rem !important;
  font-weight: 450;
  color: var(--blue-gray-700) !important;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--blue-gray-300);
}

.CommonHomeFormMessage {
  resize: none;
}

.CommonHomeFormButton {
  width: 100% !important;
}

.CommonHomeFormButton .IoIosSendIcon {
  color: var(--white);
  vertical-align: middle !important;
  font-size: 1.3rem;
}

.CommonHomeSectionThree .MouseImgContainer,
.CommonHomeSectionFive .BuildingImgContainer {
  background-color: var(--common-home-section-three);
}

:is(.CommonHomeSectionThree, .CommonHomeSectionFive) {
  background-color: var(--drover-code-100);
}

:is(.CommonHomeSectionThree, .CommonHomeSectionFive) .TextContainer {
  max-width: 600px;
}

:is(.CommonHomeSectionThree, .CommonHomeSectionFive) .TextContainer p {
  color: var(--blue-gray-600);
}

:is(.CommonHomeSectionFour, .CommonHomeSectionSix) {
  background-color: var(--common-home-section-four);
}

:is(.CommonHomeSectionFour, .CommonHomeSectionSix) .TextContainer {
  max-width: 700px;
}

:is(.CommonHomeSectionFour, .CommonHomeSectionSix) .TextContainer p {
  color: var(--blue-gray-700);
}

:is(.CommonHomeSectionFour, .CommonHomeSectionSix) .TextContainer h3 {
  padding: 0 4rem;
}

:is(.CommonHomeSectionThree, .CommonHomeSectionFour, .CommonHomeSectionFive, .CommonHomeSectionSix) {
  display: flex;
}

:is(.CommonHomeSectionThree, .CommonHomeSectionFour, .CommonHomeSectionFive, .CommonHomeSectionSix)
  .TextContainer {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
}

:is(.CommonHomeSectionThree, .CommonHomeSectionFour, .CommonHomeSectionFive, .CommonHomeSectionSix)
  .TextContainer
  h3 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  letter-spacing: 4px;
  margin-bottom: 4rem;
}

:is(.CommonHomeSectionThree, .CommonHomeSectionFour, .CommonHomeSectionFive, .CommonHomeSectionSix)
  .TextContainer
  p {
  font-size: 1.5rem;
}

@media screen and (max-width: 400px) {
  :is(.CommonHomeSectionOne, .CommonHomeSectionTwo, .CommonHomeSectionThree, .CommonHomeSectionFour, .CommonHomeSectionFive, .CommonHomeSectionSix) {
    flex-wrap: wrap;
  }

  .GirlContainer,
  .BoyContainer {
    overflow: hidden;
  }

  .SearchImg,
  .MouseImg,
  .BuildingImg,
  .CalendarImg {
    max-width: 100%;
    height: auto;
  }

  .CommonHomeSectionTwo :is(.LeftPart, .RightPart) {
    width: 100%;
  }

  .CommonHomeSectionFour .TextContainer h3 {
    padding: 0;
    font-size: 2.2rem;
  }

  :is(.CommonHomeSectionFour, .CommonHomeSectionSix) .TextContainer {
    width: fit-content;
  }

  .CommonHomeSectionSeven {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 750px) {
  .CommonHomeSectionTwo {
    flex-wrap: wrap;
  }

  .CommonHomeSectionTwo :is(.LeftPart, .RightPart) {
    width: 100%;
  }
}

@media screen and (max-width: 1130px) {
  .CommonHomeSectionOne .TextContainer h4 {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }

  :is(.CommonHomeSectionThree, .CommonHomeSectionFour, .CommonHomeSectionFive, .CommonHomeSectionSix)
    .TextContainer {
    margin: 1rem;
  }
}

@media screen and (max-width: 1115px) and (min-width: 410px) {
  .BoyImg {
    display: none;
  }
}

@media screen and (max-width: 850px) and (min-width: 410px) {
  .MouseImgContainer,
  .BuildingImgContainer {
    height: 35rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 740px) and (min-width: 647px) {
  .GirlContainer {
    width: 50rem;
    height: 25rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 648px) and (min-width: 410px) {
  .GirlContainer {
    display: none;
  }

  .MouseImg,
  .BuildingImg {
    display: none;
  }
}

@media screen and (max-width: 550px) and (min-width: 410px) {
  .CommonHomeSectionFour .TextContainer p {
    padding-right: 4rem;
  }
}

@media screen and (max-width: 1035px) {
  .CalendarImgContainer {
    width: 50rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 548px) and (min-width: 410px) {
  .CalendarImgContainer {
    display: none;
  }
}
