.StuUpdatesProgramPeopleDetailsContainer
  :is(.MentorTextDiv, .StudentTextNCountContainer) {
  font-size: 1.5rem !important;
  color: var(--facebook-code) !important;
  padding: 0 0.3rem;
  border-bottom: 1px solid var(--facebook-code);
}

.ProgramPeopleMentor {
  margin-bottom: 1.5rem;
}

.StudentTextNCountContainer .StudentCountDiv {
  font-size: 1rem !important;
}

.StudentTextNCountContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ProgramPeopleMentor .MentorUserDetailsContainer,
.ProgramPeopleStudents .StudentUserDetailsContainer {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid var(--blue-gray-300);
}

.ProgramPeopleStudents .StudentUserDetailsContainer {
  align-items: center;
}

.ProgramPeopleMentor .MentorUserDetailsContainer.LastMentor,
.ProgramPeopleStudents .StudentUserDetailsContainer.LastStudent {
  border-bottom: none;
}

:is(.ProgramPeopleMentor, .ProgramPeopleStudents) .UserIcon {
  font-size: 2.3rem;
  color: var(--blue-gray-500);
}

.ProgramPeopleMentor .NameNContactDetailsContainer,
.ProgramPeopleStudents .StudentNameDiv {
  padding: 0 0.5rem;
}

.StuUpdatesProgramPeopleDetailsContainer .CreateProgramFormText {
  font-weight: 600;
  padding: 0 0.5rem !important;
  display: inline-block;
}

.ProgramPeopleMentor .NameNContactDetailsContainer .Data {
  font-size: 1.1rem !important;
}

.ProgramPeopleMentor
  .NameNContactDetailsContainer
  .PhoneNEmailContactContainer {
  margin-left: 0.5rem;
}

.ProgramPeopleMentor
  .NameNContactDetailsContainer
  .PhoneNEmailContactContainer
  :is(.PhoneNumberDataContainer, .EmailData) {
  display: inline-block;
  padding: 0 0.5rem !important;
}

.ProgramPeopleMentor .NameNContactDetailsContainer .PhoneComma {
  font-size: 1.1rem !important;
  color: var(--blue-gray-700);
  font-weight: 600;
}

@media screen and (max-width: 400px) {
  .MentorUserIcon {
    font-size: 3.3rem !important;
  }
}

@media screen and (min-width: 474px) {
  .ProgramPeopleMentor
    .NameNContactDetailsContainer
    .PhoneNEmailContactContainer
    .PhoneNumberDataContainer {
    padding: 0 !important;
  }
}
