.ProgramCardContainer .ProgramCard {
  border-left: 1px solid var(--blue-gray-300);
  border-top: 1px solid var(--blue-gray-300);
  width: 22rem;
  margin: 1rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--blue-gray-300),
    -6px -6px 5px var(--blue-gray-100);

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ProgramCardContainer .ProgramCard:hover {
  box-shadow: 2px 2px 4px var(--blue-gray-300), -3px -3px 2px var(--white);
}

.ProgramCard
  :is(.ProgramCardTSDate, .ProgramCardDIMonths, .ProgramCardMode, .ProgramCardLanguage, .ProgramCardStatus) {
  margin: 0.8rem auto;
}

.ProgramCard .ProgramCardTitle {
  font-size: 2rem;
  color: var(--blue-gray-700);
  height: 6rem;
  overflow: hidden;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ProgramCard .ProgramCardDetails {
  padding: 1rem;
  padding-bottom: 0;
}

.ProgramCard
  :is(.ProgramCardTSDate, .ProgramCardDIMonths, .ProgramCardMode, .ProgramCardStatus, .ProgramCardLanguage) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--blue-gray-300);
}

.ProgramCard
  :is(.ProgramCardTSDate, .ProgramCardDIMonths, .ProgramCardMode, .ProgramCardStatus, .ProgramCardLanguage)
  .Text {
  font-size: 1.2rem;
  color: var(--common-home-section-four-600);
  font-weight: 600;
  width: 10rem;
}

.ProgramCard
  :is(.ProgramCardTSDate, .ProgramCardDIMonths, .ProgramCardMode, .ProgramCardStatus, .ProgramCardLanguage)
  .Data {
  font-size: 1.1rem;
  padding: 0 0.5rem;
  color: var(--yellow-700);
  font-weight: 500;
  width: 8rem;
}

.ProgramCardLanguage .NoLangData {
  display: block !important;
  width: max-content !important;
}

.ProgramCard .ProgramCardButton {
  margin-top: 0.5rem;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
}

.ViewDetailsBtn {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  font-size: 1.15rem;
  font-weight: 600;
  border: 1px solid var(--blue-gray-300);
  color: var(--blue-gray-700);
  box-shadow: 1px 1px 4px var(--blue-gray-300), -1px -1px 4px var(--blue-gray-100);
}

.ViewDetailsBtn:hover {
  transform: scale(1.05);
}

.DoubleRightArrowShowDetails {
  font-size: 1.3rem;
  color: var(--blue-gray-700);
  font-weight: 600;
  animation-name: right-move;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes right-move {
  50% {
    transform: translateX(-4px);
  }
}
