:root {
  --black: black;
  --blue-gray-300: #cbd5e1;
  --blue-gray-500: #64748b;
  --blue-gray-600: #475569;
  --blue-gray-700: #334155;
  --cyan-shade: #2bc0ef;
  --facebook-code: #4267b2;
  --green-400: #4ade80;
  --instagram-code: #e1306c;
  --light-blue-300: #7dd3fc;
  --linkedIn-code: #0077b5;
  --red-100: #fef2f2;
  --success-code: #4bb543;
  --twitter-code: #1da1f2;
  --white: white;
}
