/* 
 * This file contains all the Fonts and Colors, that has been
 * used in the project
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@400&display=swap");

:root {
  --barley-corn: #bc9b5d;
  --black: black;
  --blue-gray-100: #f1f5f9;
  --blue-gray-300: #cbd5e1;
  --blue-gray-400: #94a3b8;
  --blue-gray-500: #64748b;
  --blue-gray-600: #475569;
  --blue-gray-700: #334155;
  --color-picker-blue: #a9a9ff;
  --color-picker-green: #75fa75;
  --color-picker-red: #ff9898;
  --color-picker-yellow: #eded72;
  --common-home-section-four: #f3a78f;
  --common-home-section-four-600: #614239;
  --common-home-section-three: rgb(247, 245, 225);
  --current-tab-background: #fbe4aa;
  --cyan-700: #0e7490;
  --cyan-info-background: #cff4fc;
  --cyan-info-border: #b6effb;
  --cyan-info-text: #055160;
  --cyan-shade: #2bc0ef;
  --drover-code: #ffef98;
  --drover-code-100: #fff099;
  --facebook-code: #4267b2;
  --floral-white: #fcf8ed;
  --green-400: #4ade80;
  --instagram-code: #e1306c;
  --invalid-feedback: #dc3545;
  --light-blue-300: #7dd3fc;
  --linkedIn-code: #0077b5;
  --red-100: #fef2f2;
  --red-300: #fca5a5;
  --rightpart-quote-code: #f3a78f;
  --section-heading-div: #fbe4aa;
  --success-code: #4bb543;
  --twitter-code: #1da1f2;
  --white: white;
  --yellow-700: #b45309;
  --yellow-background-tab: #f3cb65;
}
