.MdNavigateNextIcon {
  font-size: 1.2rem;
  animation: scale-size 1s infinite;
}

@keyframes scale-size {
  50% {
    transform: scale(1.1);
  }
}

:is(.FormTextOr, .FormTextLogin) {
  display: block;
  text-align: center;
  font-size: 1rem !important;
}

:is(.FormTextOr, .FormTextLoginSpan) {
  font-weight: 600;
  color: var(--blue-gray-600);
}

.FormTextLoginSpan:hover {
  cursor: pointer;
  color: var(--blue-gray-500);
}
