.OrgProfileGreet h2 {
  color: var(--common-home-section-four-600);
}

.OrgProfileGreet h4 {
  color: var(--cyan-700);
  text-shadow: 0.3px 0.3px 0.4px var(--blue-gray-500);
}

.OrgProfileGreet .StartBtn {
  background-color: var(--blue-gray-600);
}

.OrgProfileGreet .StartBtn:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 8px var(--blue-gray-600);
}
