.StuSuggestedProgramDetailsCommonContainer {
  background-size: cover;
  background-position: center;
}

.StuSuggestedProgramDetailsCommonContainer .CommonProgramDetailsHeroText span {
  background-color: var(--floral-white);
  padding: 0 0.5rem;
  border-radius: 5px;
}
