.TableHeaderFirstRow .ProgramHeading {
  vertical-align: middle;
}

.TableHeaderFirstRow :is(.MentorHeading, .StudentHeading) {
  border-bottom: 1px solid var(--blue-gray-400) !important;
  text-align: center !important;
}

.OrgApplicantsTableData {
  vertical-align: middle;
  font-size: 1.1rem !important;
  padding: 0.5rem !important;
  word-wrap: break-word;
}

.OrgApplicantsTableHeader {
  background-color: var(--cyan-info-background);
}

.OrgApplicantsTableHeader .TableHeaderFirstRow .OrgApplicantsHeader {
  border-top: 2px solid var(--blue-gray-500) !important;
}

.OrgApplicantsTableHeader .TableHeaderSecondRow .OrgApplicantsHeader,
.TableHeaderFirstRow .ProgramHeading {
  border-bottom: 2px solid var(--blue-gray-500) !important;
}

.OrgApplicantsTableDataRow:hover {
  cursor: pointer;
  box-shadow: 1px 0 10px var(--blue-gray-300);
}

.OrgApplicantsTableHeader .TableHeaderSecondRow th,
.OrgApplicantsTableData {
  text-align: right !important;
  padding-right: 1.5rem !important;
}

.OrgApplicantsTableRow .ProgramHeading,
.OrgApplicantsTableDataProgramName {
  text-align: left !important;
  padding-left: 1.5rem !important;
  padding-right: 0 !important;
}
