.OrgDirectoryDetailsBackBtnContainer {
  padding: 1rem;
}

.OrgDirectoryDetailsBackBtn {
  border: 1px solid var(--blue-gray-300);
  border-radius: 10px;
  background-color: var(--white);
  color: var(--blue-gray-700);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  box-shadow: 1px 1px 4px var(--blue-gray-400);
  margin: auto;
  display: block;
}

.OrgDirectoryDetailsBackBtn:hover {
  transform: scale(1.05);
}

.OrgDirectoryDetailsBackBtn .LeftArrowBtn {
  font-weight: 600;
  margin-bottom: 0.2rem;
  animation-name: left-move;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes left-move {
  50% {
    transform: translateX(2px);
  }
}
