.OrgViewSearchProgram {
  padding: 2rem !important;
}

.FilterBarFormNImgContainer {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.ViewAndSearchProgramIllustration {
  max-width: 300px;
  padding: 2rem 1rem 1rem;
  align-self: flex-end;
}

.OrgFilterBarText {
  padding: 0 2rem 1rem !important;
  font-family: "KoHo", sans-serif;
  font-size: 2.5rem !important;
  color: var(--facebook-code) !important;
  font-weight: 600 !important;
}

.OrgSearchFormInputGroup {
  max-width: 30rem !important;
  margin: 2rem auto;
}

.OrgSearchIconInput {
  border-bottom: 1px solid var(--blue-gray-700);
  border-bottom-left-radius: 3px;
  padding-left: 1rem;
}

.OrgSearchIcon {
  margin-top: 1.5rem;
  font-size: 1.35rem;
  color: var(--blue-gray-700);
}

.SearchInputFormControl {
  font-size: 1.5rem !important;
  color: var(--blue-gray-700) !important;
}

.FilterByVSGroup,
.SortByVSGroup {
  margin: 1rem auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FilterByText,
.SortByText {
  font-size: 1.2rem !important;
  color: var(--blue-gray-700);
  margin: 0 1rem !important;
  font-weight: 600;
}

.FilterCategorySelectGroup,
.SortCategorySelectGroup {
  font-size: 1.2rem !important;
  border-radius: 5px !important;
  border: 1px solid var(--blue-gray-700) !important;
  color: var(--blue-gray-700) !important;
  padding: 0.2rem 0.5rem !important;
  width: 8rem;
}

:is(.FilterCategorySelectGroup, .SortCategorySelectGroup):focus {
  outline: none !important;
}

:is(.FilterCategorySelectGroup, .SortCategorySelectGroup):hover {
  cursor: pointer;
}

.FilterCategorySelectOption,
.SortCategorySelectGroup {
  color: var(--blue-gray-700);
}

.OrgViewSearchProgram .ProgramCardContainer {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 415px) {
  .FilterCategorySelectGroup,
  .SortCategorySelectGroup {
    padding: 0 !important;
  }
}
