.EditLinkProgramDetails {
  background-image: url("../../assets/Illustrations/org_program_details.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 1rem !important;
  font-size: 1.5rem !important;
  color: var(--facebook-code);
  text-align: center;
  font-weight: 600;
}

.EditLinkClickHere {
  text-decoration: none;
  color: var(--blue-gray-700) !important;
}

.EditLinkClickHere:hover {
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .EditLinkProgramDetails span {
    background-color: var(--floral-white);
  }
}

.SendNewInvitationTextContainer {
  padding: 0 2rem !important;
}

.SendNewInvitationClickHere {
  background: inherit;
  border: none;
}

/* ProgramParticipantsPage */

.ChooseMentorOrStudentDiv {
  width: fit-content;
  margin: 1.5rem auto;
  border-radius: 5px;
}

.ChooseMentorOrStudentDiv .MentorOrStudentText {
  padding: 0.3rem 0.5rem !important;
  font-size: 1.2rem !important;
  box-shadow: 1px 1px 3px var(--cyan-700);
  animation-name: box-shadow-animation;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes box-shadow-animation {
  50% {
    box-shadow: 2px 2px 10px var(--cyan-700);
  }
}

.MentorOrStudentText .Btn {
  background-color: inherit;
  border: none;
  font-weight: 500;
}

.MentorOrStudentText .Btn:hover {
  text-decoration: underline;
}

.MentorOrStudentText .MentorOptionText {
  border-right: 2px solid;
}

.OrgProgramParticipantsDetails {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.OrgProgramParticipantsDetailsContainer {
  background-color: var(--white);
  padding: 1rem;
}

/* FilterBar */

.FilterBarContainer {
  text-align: right;
  padding: 1rem;
}

.FilterBarContainer .FilterByText {
  color: var(--common-home-section-four-600);
}

.FilterBarStateDropdown {
  display: inline-block;
  margin-right: 1rem;
}

.FilterBarStateDropdown .btn {
  background-color: var(--cyan-info-background) !important;
  color: var(--cyan-info-text) !important;
  border-color: var(--cyan-info-border) !important;
  font-weight: 500;
}

.FilterBarStateDropdown .btn:focus {
  box-shadow: none !important;
}

.FilterBarStateDropdown .dropdown-menu {
  min-width: fit-content;
  background-color: var(--cyan-info-background) !important;
}

.FilterBarStateDropdown .dropdown-menu a {
  color: var(--cyan-info-text) !important;
}

/*  */

/*  */
