.FilterBarContainer .OrgParticipantSearchFromControl:valid {
  background-color: var(--blue-gray-100) !important;
}

.FilterBarContainer .OrgParticipantSearchFromControl {
  border: 1px solid var(--blue-gray-300) !important;
  max-width: 22rem;
  margin: 1rem 0;
  color: var(--blue-gray-700) !important;
  font-size: 1.05rem !important;
  background-color: var(--blue-gray-100) !important;
}
