.MentorProfileBuilderForm :is(.TypeFormBackBtn, .TypeFormNextBtn) {
  background-color: var(--blue-gray-300);
  color: var(--blue-gray-700);
}

.MentorProfileBuilderForm .TypeFormNextBtn {
  box-shadow: 1px 1px 2px var(--blue-gray-600);
}

.MentorProfileBuilderForm :is(.TypeFormNextBtn, .TypeFormBackBtn):hover {
  box-shadow: 1px 1px 4px var(--blue-gray-500);
}

.MentorProfileBuilderForm .TypeFormBackBtn {
  box-shadow: -1px -1px 2px var(--blue-gray-600);
}

.MentorTypeformQuestion .QuestionFormText {
  font-size: 2rem;
  color: var(--blue-gray-700);
}

.MentorTypeformQuestion .QuestionFormControl {
  color: var(--common-home-section-four-600);
}
