.OrgDetailsNotFound {
  text-align: center;
  margin: 3rem auto;
}

.ProgramDetailsContainer {
  padding: 1rem !important;
}

.GeneralProgramDetailsDataContainer,
.CoordinatorProgramDetailsDataContainer,
.MentorProgramDetailsDataContainer,
.StudentProgramDetailsDataContainer {
  text-align: justify !important;
}

.GeneralProgramDetailsDataContainer
  :is(.TitleDataContainer, .DescriptionDataContainer, .TSDateDataContainer, .DurationDataContainer, .ModeDataContainer, .AgeLimitDataContainer, .ProgramLinkDataContainer),
.CoordinatorProgramDetailsDataContainer
  :is(.CNameDataContainer, .CEmailDataContainer, .CContactDataContainer),
.MentorProgramDetailsDataContainer
  :is(.MNoOfOpeningsDataContainer, .MApplyByDateDataContainer, .MGeneralInstDataContainer),
.StudentProgramDetailsDataContainer
  :is(.SNoOfOpeningsDataContainer, .SApplyByDateDataContainer, .SGeneralInstDataContainer) {
  margin: 0.5rem auto !important;
}

:is(.GeneralProgramDetailsDataContainer, .CoordinatorProgramDetailsDataContainer, .MentorProgramDetailsDataContainer, .StudentProgramDetailsDataContainer)
  .CreateProgramFormText {
  font-weight: 600;
  padding: 0 0.5rem !important;
}

.GeneralProgramDetailsDataContainer
  :is(.TitleDataContainer, .DescriptionDataContainer)
  .Data,
.MentorProgramDetailsDataContainer :is(.MGeneralInstDataContainer) .Data,
.StudentProgramDetailsDataContainer :is(.SGeneralInstDataContainer) .Data {
  padding: 0.2rem 1.5rem !important;
}

.GeneralProgramDetailsDataContainer
  :is(.TitleDataContainer, .DescriptionDataContainer, .TSDateDataContainer, .DurationDataContainer, .ModeDataContainer, .AgeLimitDataContainer, .ProgramLinkDataConatiner)
  .Data,
.CoordinatorProgramDetailsDataContainer
  :is(.CNameDataContainer, .CEmailDataContainer, .CContactDataContainer)
  .Data,
.MentorProgramDetailsDataContainer
  :is(.MNoOfOpeningsDataContainer, .MApplyByDateDataContainer, .MGeneralInstDataContainer)
  .Data,
.StudentProgramDetailsDataContainer
  :is(.SNoOfOpeningsDataContainer, .SApplyByDateDataContainer, .SGeneralInstDataContainer)
  .Data {
  font-size: 1.1rem !important;
}

.AgeLimitDataContainer :is(.From, .To) {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.AgeLimitDataContainer .Data {
  margin-right: 1rem !important;
}

.GeneralProgramDetailsContainer {
  width: 650px;
  height: inherit !important;
  padding-right: 0.5rem !important;
  margin: 1rem;
  margin-left: 0 !important;
}

.CoordinatorProgramDetailsContainer {
  width: 400px;
  margin: 0 1rem 1rem;
}

.MentorProgramDetailsContainer,
.StudentProgramDetailsContainer {
  width: 550px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: inherit !important;
}

.OrgProgramDetailsDataIllustration {
  width: 350px;
  margin-bottom: 1rem;
  animation-name: top-bottom;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes top-bottom {
  50% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 600px) {
  .CoordinatorProgramDetailsContainer {
    width: inherit;
  }
}
