.OrgProgramInvitationDetails {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.OrgProgramInvitationDetailsContainer {
  background-color: var(--white);
  padding: 1rem;
}

.ProgramFilterSortDropdown .btn {
  background-color: inherit !important;
  border: none;
  color: var(--blue-gray-700) !important;
  font-weight: bold;
  font-size: 1.1rem !important;
  padding: 0 !important;
}

.ProgramFilterSortDropdown .btn:focus {
  box-shadow: none !important;
}

.ProgramFilterSortDropdown .dropdown-menu {
  min-width: fit-content;
}

.ProgramInvitationTableRow {
  text-align: center !important;
}

.ProgramInvitationHeader {
  text-align: center !important;
  font-size: 1.1rem !important;
  color: var(--blue-gray-700) !important;
  border-top: 2px solid var(--blue-gray-500) !important;
  border-bottom: 2px solid var(--blue-gray-500) !important;
}

.ProgramInvitationTableData {
  font-size: 1.1rem !important;
  padding: 0.5rem !important;
  max-width: 8rem !important;
  word-wrap: break-word;
}

.OrgProgramInvitationDataContainer .table {
  --bs-table-striped-bg: var(--blue-gray-100) !important;
  border-color: var(--blue-gray-100) !important;
}

.OrgInvitationSearchBar .OrgInvitationSearchFromControl:valid {
  background-color: var(--blue-gray-100) !important;
}

.OrgInvitationSearchBar .OrgInvitationSearchFromControl {
  border: 1px solid var(--blue-gray-300) !important;
  max-width: 22rem;
  margin: 1rem 0;
  color: var(--blue-gray-700) !important;
  font-size: 1.05rem !important;
  background-color: var(--blue-gray-100) !important;
}

.OrgProgramInvitationDetails .ErrorCompContainer {
  width: fit-content;
  margin: auto;
}
