.OrgProfileBuilderForm :is(.TypeFormBackBtn, .TypeFormNextBtn) {
  background-color: var(--common-home-section-four);
  color: var(--common-home-section-four-600);
}

.OrgProfileBuilderForm .TypeFormNextBtn:hover {
  box-shadow: 1px 1px 2px var(--common-home-section-four-600);
}

.OrgProfileBuilderForm .TypeFormBackBtn:hover {
  box-shadow: -1px -1px 2px var(--common-home-section-four-600);
}

.OrgTypeformQuestion .QuestionFormText {
  font-size: 2rem;
  color: var(--common-home-section-four-600);
}

.OrgTypeformQuestion .QuestionFormControl {
  color: var(--blue-gray-700);
}
