/* Pages */

/* 
    OrganisationRegister, 
    Login, 
    StudentMentorRegister, 
    OrgProfileBuilder, 
    MentorProfileBuilder, 
    StuProfileBuilder, 
    OrgCreateProgramPage, 
    OrgViewSearchProgramPage 
    OrgHomePage,
    OrgDirectoryPage,
    OrgDirectoryMentorPage,
    OrgDirectoryStudentPage,
    OrgProgramInvitationsPage, 
    OrgProgramParticipantsPage, 
    OrgEditProgramDetailsPage,
    OrgProfileManage,
    OrgProfileEdit,
    OrgProgramApplicantsPage,
    OrgApplicantsPage,
    PageNotFound,
    OrgSpecificMentorApplicantDetailsPage,
    OrgSpecificStudentApplicantDetailsPage,
    StudentDashboard,
    StudentUpdatesPage,
    StuUpdatesProgramDetailsPage,
    StuUpdatesProgramPeoplePage,
    StuUpdatesOrganisationDetailsPage,
    StuUpdatesOrganisationProgramsPage,
    OrgInvitationsPage,
    MentorUpdatesPage,
    MentorUpdatesOrganisationDetailsPage,
    MentorUpdatesOrganisationProgramsPage,
    MentorUpdatesProgramDetailsPage,
    MentorUpdatesProgramPeoplePage,
    MentorRegisterPage,
    StudentRegisterPage,
    StuSuggestedProgramsPage,
    StuSuggestedProgramDetailsPage,
    StuSuggestedProgramApplicationPage,
    MentorSuggestedProgramsPage,
    MentorSuggestedProgramDetailsPage,
    MentorSuggestedProgramApplicationPage,
    StudentProfileEdit,
    MentorProfileEdit,
    StuUpdatesApplicationDetailsPage,
    MentorUpdatesApplicationDetailsPage,
    MentorUpdatesProgramDashboardPage,
    StuUpdatesProgramDashboard
*/

.Page {
  background-color: var(--red-100);
  min-height: 85vh;
}

.OrgRegisterPage,
.LoginPage,
.StudentMentorRegisterPage,
.MentorRegisterPage,
.StudentRegisterPage {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OrgProfileGreetContainer,
.MentorProfileGreetContainer,
.StuProfileGreetContainer {
  padding: 2rem;
}

.OrgProfileGreet,
.MentorProfileGreet,
.StuProfileGreet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  background-color: var(--white);
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 2px var(--blue-gray-500), -1px -1px 2px var(--white);
}

@media screen and (max-width: 768px) {
  .OrgProfileGreet,
  .MentorProfileGreet,
  .StuProfileGreet {
    padding: 1rem !important;
  }
}

:is(.OrgProfileGreet, .MentorProfileGreet, .StuProfileGreet) h2 {
  font-size: 2.5rem;
  font-family: "KoHo", sans-serif;
  font-weight: bold !important;
}

:is(.OrgProfileGreet, .MentorProfileGreet, .StuProfileGreet) h4 {
  font-size: 1.6rem;
}

:is(.OrgProfileGreet, .MentorProfileGreet, .StuProfileGreet) .Leth4 {
  margin-top: 0rem !important;
  margin-bottom: 2.5rem !important;
}

:is(.OrgProfileGreet, .MentorProfileGreet, .StuProfileGreet) :is(h2, h4) {
  margin: 2rem auto;
  text-align: center;
}

:is(.OrgProfileGreet, .MentorProfileGreet, .StuProfileGreet) .StartBtn {
  border-radius: 5px;
  border: none;
  padding: 0.4rem 2rem;
  color: var(--white);
}

.AiDoubleRightIcon {
  animation-name: change-position;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes change-position {
  50% {
    padding: 2px;
  }
}

/* Components */

/*
    OrgRegisterUser, 
    OrgRegisterDetails, 
    LoginForm, 
    StudentMentorRegister (page), 
    CommonHome, 
    OrgProfileBuilderTypeform, 
    MentorProfileBuidlerTypeform,  
    StuProfileBuilderTypeform, 
    Org Create Program Form, 
    Org Program Details,
    OrgProgramDetailsCommon,
    OrgDirectoryPageHeader
    OrgProgramInvitationDetails,
    OrgProgramApplicantDetails 
    OrgDirectoryDetailsPersonalInfo,
    OrgProfileEditSectionOne,
    OrgProfileEditSectionTwo,
    StuUpdatesPageHeader,
    OrgDirectoryCard,
    StuUpdatesProgramCard,
    StuUpdatesOrganisationCard,
    StuUpdatesProgramPeopleDetails,
    StuUpdatesOrganisationProgramsDetails,
    StuUpdatesOrganisationDetailsInfo,
    MentorRegisterPage,
    MentorRegister,
    StudentRegister,
    StuSuggestedProgramApplicationForm,
    StuUpdatesApplications
*/

.OrgRegisterUserForm,
.OrgRegisterDetailsForm,
.LoginForm,
.StudentMentorRegisterBox,
.CommonHomeForm,
.MentorRegisterForm,
.StudentRegisterForm {
  background-color: var(--white);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--blue-gray-300);
}

/* Overriding User Agent */

.form-control {
  margin-top: 0.5rem !important;
  border: none !important;
  border-bottom: 1px solid var(--blue-gray-600) !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: var(--light-blue-300) !important;
}

.form-control:valid {
  background: none !important;
}

/* End Overriding */

/* 
    Form Button of LoginForm, 
    OrgRegisterDetails, 
    OrgRegisterUser,
    MentorRegister,
    StudentRegister
*/

.FormButtonContainer {
  text-align: center;
}

.FormButton {
  margin-top: 2rem;
  background-color: var(--blue-gray-600) !important;
  border-color: var(--blue-gray-600) !important;
}

.FormButton:hover {
  background-color: var(--blue-gray-500) !important;
  border-color: var(--blue-gray-500) !important;
}

.FormButton:focus {
  box-shadow: none !important;
}

/* End Form Button */

/* Icon on password input */

.EyeIconInputGroup {
  align-self: flex-end !important;
}

.EyeIconButton {
  background-color: var(--white) !important;
  border: none !important;
  border-bottom: 1px solid var(--blue-gray-600) !important;
  border-bottom-left-radius: 0 !important;
}

.EyeIconButton:focus {
  box-shadow: none !important;
}

.EyeInvisibleIcon,
.EyeVisibleIcon {
  color: var(--black);
}

@media screen and (max-width: 500px) {
  .OrgRegisterUserForm,
  .OrgRegisterDetailsForm,
  .LoginForm,
  .CommonHomeForm,
  .MentorRegisterForm,
  .StudentRegisterForm {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 520px) {
  .OrgRegisterUserForm,
  .OrgRegisterDetailsForm,
  .LoginForm,
  .CommonHomeForm,
  .MentorRegisterForm,
  .StudentRegisterForm {
    width: 29.25rem;
  }
}

/* 
    OrgProfileBuilderTypeform, 
    MentorProfileBuilderTypeform, 
    StuProfileBuilderTypeform 
*/

.OrgProfileQuestionContainer,
.MentorProfileQuestionContainer,
.StuProfileQuestionContainer {
  text-align: center;
}

.TypeFormNextBtn,
.TypeFormBackBtn,
.TypeFormSubmitBtn {
  margin-top: -2rem;
  margin-bottom: 2rem;
  padding: 0.2rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.TypeFormBackBtn {
  margin-right: 2rem;
}

.DisplayNoneBackBtn {
  display: none;
}

:is(.TypeFormBackBtn, .TypeFormNextBtn, .TypeFormSubmitBtn) :focus {
  border: none !important;
}

:is(.OrgTypeformQuestion, .MentorTypeformQuestion, .StuTypeformQuestion).Question {
  margin: auto;
  padding: 4rem;
  width: fit-content;
}

.TypeFormSubmitBtn {
  background-color: var(--success-code);
  color: var(--white);
}

.TypeFormSubmitBtn:hover {
  box-shadow: 1px 1px 4px var(--green-400);
  transform: scale(1.01);
}

:is(.OrgTypeformQuestion, .MentorTypeformQuestion, .StuTypeformQuestion)
  .QuestionFormControl {
  margin: auto !important;
  margin-top: 3rem !important;
  max-width: 25rem !important;
  font-size: 1.5rem;
  background-color: inherit !important;
}

.react-tel-input .form-control {
  font-size: 1.2rem !important;
  background-color: inherit !important;
}

/* Overriding */

/* PhoneInput */

.react-tel-input .special-label {
  display: none !important;
}

.react-tel-input .country-list {
  max-height: 110px !important;
}

@media screen and (min-width: 525px) {
  .react-tel-input .form-control {
    width: 25rem !important;
    margin: auto;
  }

  .react-tel-input .flag-dropdown {
    left: 1.5rem;
  }
}

@media screen and (max-width: 440px) {
  .react-tel-input .form-control {
    width: inherit !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.phoneFormControl {
  display: none !important;
}

/* SubmitReviewText Typeform */

.SubmitReviewText {
  border-bottom: 1px solid var(--common-home-section-four-600);
  padding-bottom: 1.5rem !important;
  margin: auto 2rem;
}

.SubmitReviewText .h4 {
  padding-top: 2rem !important;
  padding-bottom: 1.3rem !important;
  font-size: 2rem !important;
  color: var(--common-home-section-four-600);
}

.SubmitReviewText .h5 {
  color: var(--linkedIn-code);
}

/* 
    MentorProfileBuilderTypeform, 
    StuProfileBuilderTypeform 
*/

/* Radio */

:is(.MentorTypeformQuestion, .StuTypeformQuestion)
  :is(.GenderRadioQuestion, .InternetRadioQuestion, .ProfMentorRadioQuestion, .YOERadioQuestion, .DeviceRadioQuestion) {
  text-align: left !important;
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}

:is(.GenderRadioQuestion, .InternetRadioQuestion, .ProfMentorRadioQuestion, .YOERadioQuestion, .DeviceRadioQuestion)
  .form-check {
  width: 15rem;
  margin-top: 1rem !important;
  border: 1px solid var(--blue-gray-500);
  color: var(--blue-gray-700) !important;
  font-weight: 600 !important;
  padding-left: 2.5rem !important;
  border-radius: 5px;
}

:is(.GenderRadioQuestion, .InternetRadioQuestion, .ProfMentorRadioQuestion, .YOERadioQuestion, .DeviceRadioQuestion)
  .form-check-input {
  border: 2px solid var(--blue-gray-500) !important;
  margin-top: 0.54rem;
}

/* Overriding */

.form-check-input:checked {
  background-color: var(--blue-gray-500) !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

/*  */

:is(.GenderRadioQuestion, .InternetRadioQuestion, .ProfMentorRadioQuestion, .YOERadioQuestion, .DeviceRadioQuestion)
  :is(.form-check-input, .form-check-label) {
  cursor: pointer;
}

/* language selector */

.LanguageSelector {
  cursor: pointer;
}

/* country region selector */

.CountryDropdown,
.RegionDropdown {
  display: block !important;
  cursor: pointer !important;
}

.RegionDropdown {
  margin: 0 auto;
  margin-top: 1.5rem;
}

.LocationDropdown {
  color: var(--invalid-feedback) !important;
}

/* 
    Org Create Program Form, 
    Org Program Details,
    OrgDirectoryDetailsPersonalInfo,
    OrgProfileEditSectionOne,
    OrgProfileEditSectionTwo,
    StuUpdateProgramPeopleDetails,
    StuUpdatesOrganisationDetailsInfo,
    StuSuggestedProgramApplicationForm
*/

.GeneralDetailsFormContainer,
.CoordinatorDetailsFormContainer,
.CreateProgramMentorDetailsFormContainer,
.CreateProgramStudentDetailsFormContainer,
.GeneralProgramDetailsContainer,
.CoordinatorProgramDetailsContainer,
.MentorProgramDetailsContainer,
.StudentProgramDetailsContainer,
.OrgDirectoryDetailsPersonalContainer
  .SectionOne
  .SectionOneSecondHalf
  .DataCard,
.OrgDirectoryDetailsPersonalContainer
  .SectionTwo
  .SectionTwoFirstHalf
  .DataCard,
.OrgProfileEditSectionOne .SectionOneSecondHalf,
.OrgProfileEditSectionTwo :is(.SectionTwoFirstHalf, .SectionTwoSecondHalf),
.StuUpdatesOrganisationDetailsInfoContainer
  .SectionOne
  .SectionOneSecondHalf
  .DataCard,
.StuUpdatesOrganisationDetailsInfoContainer
  .SectionTwo
  .SectionTwoFirstHalf
  .DataCard,
.StuSuggestedProgramApplicationFormContainer {
  background-color: var(--white);
  padding: 1rem;
  box-shadow: 1px 1px 5px var(--blue-gray-300), -2px -2px 5px var(--white);
  border-radius: 5px;
  border-left: 1px solid var(--blue-gray-300);
  border-top: 1px solid var(--blue-gray-300);
  height: fit-content;
}

.FormDetailsText {
  font-size: 1.5rem !important;
  padding: 0.5rem !important;
  color: var(--facebook-code) !important;
}

:is(.CreateProgramFormContainer, .GeneralProgramDetailsContainer, .CoordinatorProgramDetailsContainer, .MentorProgramDetailsContainer, .StudentProgramDetailsContainer)
  .CreateProgramFormText,
.OrgDirectoryDetailsPersonalContainer .SectionOne .CreateProgramFormText,
.OrgDirectoryDetailsPersonalContainer .SectionTwo .CreateProgramFormText,
.StuUpdatesProgramPeopleDetailsContainer
  .NameNContactDetailsContainer
  .CreateProgramFormText,
.StuUpdatesOrganisationDetailsInfoContainer .SectionOne .CreateProgramFormText,
.StuUpdatesOrganisationDetailsInfoContainer .SectionTwo .CreateProgramFormText,
.StuSuggestedProgramApplicationFormContainer .CreateProgramFormText {
  font-size: 1.1rem !important;
  margin-right: 1rem;
  color: var(--blue-gray-700);
  display: inline-block;
}

.CreateProgramFormContainer
  :is(.CreateProgramFirstSection, .CreateProgramSecondSection),
.ProgramDetailsContainer
  :is(.ProgramDetailsFirstSection, .ProgramDetailsSecondSection),
.OrgDirectoryDetailsPersonalContainer .SectionOne,
.OrgDirectoryDetailsPersonalContainer .SectionTwo,
.StuUpdatesOrganisationDetailsInfoContainer .SectionOne,
.StuUpdatesOrganisationDetailsInfoContainer .SectionTwo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.CreateProgramFirstSubSection,
.ProgramDetailsFirstSubSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

:is(.GeneralDetailsForm, .GeneralProgramDetailsDataContainer, .MentorProgramDetailsDataContainer, .StudentProgramDetailsDataContainer)
  .LanguagePreviewer
  .LanguageLi,
.OrgDirectoryDetailsPersonalContainer .SectionTwo .LanguageLi,
.StuUpdatesOrganisationDetailsInfoContainer .SectionTwo .LanguageLi {
  display: inline-block;
  list-style: none;
  background-color: var(--common-home-section-four);
  padding: 0.2rem 0.5rem !important;
  border-radius: 5px !important;
  margin: 0.2rem 0.3rem !important;
}

/* 
  OrgProgramDetailsCommon,
  OrgDirectoryPageHeader,
  OrgDirectoryDetailsCommonHeader,
  OrgSpecificApplicantDetailsHeader,
  StuUpdatesPageHeader
*/

.CommonProgramDetailsHeroText,
.OrgDirectoryPageHeaderHeroText,
.OrgDirectoryDetailsCommonHeaderHeroText,
.OrgSpecificApplicantDetailsHeaderHeroText {
  padding: 2rem 0 3rem 5rem !important;
  font-family: "KoHo", sans-serif;
  font-size: 2.5rem !important;
  color: var(--facebook-code) !important;
  font-weight: 600 !important;
}

.PDViewAndRouteLinksContainer,
.OrgDirectoryMentorOrStudentOptContainer,
.OrgDirectoryDetailsPIOrCtPOptContainer,
.OrgSpecificApplicantDetailsOptionContainer,
.StuUpdatesProgramsOrOrganisationsOptContainer {
  width: fit-content;
  margin: auto;
  text-align: center;
  padding: 2rem 0;
  border-radius: 5px;
}

.ProgramDetailsRouteLinks,
.OrgDirectoryMentorOrStudentOpt,
.OrgDirectoryDetailsPIOrCtPOpt,
.OrgSpecificApplicantDetailsOption,
.StuUpdatesProgramsOrOrganisationsOpt {
  padding: 0 !important;
  font-size: 1.3rem !important;
  width: fit-content;
  box-shadow: 1px 1px 5px var(--barley-corn);
}

@media screen and (max-width: 466px) {
  .CommonProgramDetailsHeroText span {
    background-color: var(--floral-white);
  }
}

@media screen and (max-width: 500px) {
  .ProgramDetailsRouteLinks,
  .OrgDirectoryMentorOrStudentOpt,
  .OrgDirectoryDetailsPIOrCtPOpt,
  .OrgSpecificApplicantDetailsOption,
  .StuUpdatesProgramsOrOrganisationsOpt {
    margin: auto 0.4rem !important;
  }
}

@media screen and (max-width: 750px) {
  .CommonProgramDetailsDiv {
    background-size: auto;
  }

  .OrgDirectoryPageHeaderHeroText span {
    background-color: var(--floral-white);
  }

  .CommonProgramDetailsHeroText,
  .OrgDirectoryPageHeaderHeroText,
  .OrgDirectoryDetailsCommonHeaderHeroText,
  .OrgSpecificApplicantDetailsHeaderHeroText {
    padding: 1rem 2rem 3rem !important;
  }
}

/* 
  OrgDirectoryPageHeader,
  OrgDirectoryDetailsCommonHeader,
  OrgProgramDetailsCommon,
  MentorOrStudentTab,
  OrgSpecificApplicantDetailsHeader,
  StuUpdatesPageHeader
*/

:is(.OrgDirectoryMentorOrStudentOpt, .OrgDirectoryDetailsPIOrCtPOpt, .OrgSpecificApplicantDetailsOption, .StuUpdatesProgramsOrOrganisationsOpt)
  button {
  color: var(--yellow-700);
  font-weight: 600;
  cursor: pointer;
  background: inherit;
  border: none;
  border-radius: 5px;
}

:is(.OrgDirectoryMentorOrStudentOpt, .OrgDirectoryDetailsPIOrCtPOpt, .ProgramDetailsRouteLinks, .MentorOrStudentText, .OrgSpecificApplicantDetailsOption, .StuUpdatesProgramsOrOrganisationsOpt)
  div {
  display: inline-block;
  margin: 0 !important;
  padding: 0.3rem 0.5rem !important;
}

.CurrentSelectedTab {
  border: none !important;
  border-bottom: none !important;
  background-color: var(--yellow-background-tab) !important;
  border-radius: 5px !important;
  height: unset !important;
}

.NotCurrentSelectedTab {
  border: none !important;
}

.ProgramDetailsRouteLinks
  :is(.ProgramDetailsLinkDiv, .InvitationsLinkDiv, .ParticipantsLinkDiv),
.OrgDirectoryMentorOrStudentOpt .OrgDirectoryMentorOpt,
.OrgDirectoryDetailsPIOrCtPOpt .OrgDirectoryDetailsPIOpt,
.MentorOrStudentText .MentorOptDiv,
.OrgSpecificApplicantDetailsOption
  :is(.OrgSpecificApplicantApplicationOpt, .OrgSpecificApplicantPIOpt),
.StuUpdatesProgramsOrOrganisationsOpt
  :is(.StuUpdatesProgramsOpt, .StuUpdatesOrganisationsOpt) {
  border-right: 2px solid !important;
}

.OrgDirectoryMentorOrStudentOpt,
.OrgDirectoryDetailsPIOrCtPOpt,
.OrgSpecificApplicantDetailsOption,
.StuUpdatesProgramsOrOrganisationsOpt {
  box-shadow: 2px 2px 4px var(--yellow-700), -2px -2px 4px var(--yellow-700) !important;
  animation-name: directory-box-shadow-animation;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes directory-box-shadow-animation {
  50% {
    box-shadow: 6px 6px 20px var(--yellow-700), -6px -6px 20px var(--yellow-700);
  }
}

/* 
  OrgDirectoryDetailsConnectedToProgram,
  OrgProgramInvitationDetails,
  OrgProgramApplicantDetails,
  OrgApplicantsPageDetails,
  OrgSpecificApplicantApplicationDetails,
  StuUpdatesProgramPeopleDetails,
  StuUpdatesOrganisationProgramsDetails,
  StuUpdatesApplications
*/

.OrgProgramInvitationDetails,
.OrgProgramApplicantDetails,
.OrgApplicantsPageDetails,
.OrgSpecificApplicantApplicationDetailsContainer,
.StuUpdatesProgramPeopleDetails,
.StuUpdatesOrganisationProgramsDetails,
.StuUpdatesApplicationsDetails {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.OrgProgramInvitationDetailsContainer,
.OrgProgramApplicantDetailsContainer,
.OrgApplicantsPageDetailsContainer,
.StuUpdatesProgramPeopleDetailsContainer,
.StuUpdatesOrganisationProgramsDetailsContainer,
.StuUpdatesApplicationsDetailsContainer {
  background-color: var(--white);
  padding: 1rem;
}

:is(.ProgramFilterSortDropdown, .UpdatesApplicationsFilterSortDropdown) .btn {
  background-color: inherit !important;
  border: none;
  color: var(--blue-gray-700) !important;
  font-weight: bold;
  font-size: 1.1rem !important;
  padding: 0 !important;
}

:is(.ProgramFilterSortDropdown, .UpdatesApplicationsFilterSortDropdown) .btn:focus {
  box-shadow: none !important;
}

:is(.ProgramFilterSortDropdown, .UpdatesApplicationsFilterSortDropdown) .dropdown-menu {
  min-width: fit-content;
}

.ProgramInvitationTableRow,
.ProgramApplicantTableRow,
.UpdatesApplicationsTableRow {
  text-align: left !important;
  padding-left: 1.5rem !important;
}

.ProgramInvitationHeader,
.ProgramApplicantHeader,
.OrgApplicantsTableHeader,
.UpdatesApplicationsHeader {
  font-size: 1.1rem !important;
  color: var(--blue-gray-700) !important;
  border-top: 2px solid var(--blue-gray-500) !important;
  border-bottom: 2px solid var(--blue-gray-500) !important;
  padding-left: 1.5rem !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--blue-gray-100);
}

.ProgramInvitationTableData,
.ProgramApplicantTableData,
.UpdatesApplicationsTableData {
  font-size: 1.1rem !important;
  padding: 0.5rem !important;
  max-width: 8rem !important;
  word-wrap: break-word;
  padding-left: 1.5rem !important;
}

:is(.ProgramInvitationHeader, .ProgramApplicantHeader, .UpdatesApplicationsHeader).NumericalHeaderColumn,
:is(.ProgramInvitationTableData, .ProgramApplicantTableData, .UpdatesApplicationsTableData).NumericalColumn {
  text-align: center !important;
  padding-right: 0 !important;
  padding-left: 0.5rem !important;
}

:is(.OrgInvitationSearchBar, .OrgProgramApplicantSearchBar, .StuUpdatesApplicationsSearchBar)
  :is(.OrgInvitationSearchFromControl, .OrgProgramApplicantSearchFormControl, .StuUpdatesApplicationsSearchFormControl):valid {
  background-color: var(--blue-gray-100) !important;
}

:is(.OrgInvitationSearchBar, .OrgProgramApplicantSearchBar, .StuUpdatesApplicationsSearchBar)
  :is(.OrgInvitationSearchFromControl, .OrgProgramApplicantSearchFormControl, .StuUpdatesApplicationsSearchFormControl) {
  border: 1px solid var(--blue-gray-300) !important;
  max-width: 22rem;
  margin: 1rem 0;
  color: var(--blue-gray-700) !important;
  font-size: 1.05rem !important;
  background-color: var(--blue-gray-100) !important;
}

:is(.OrgProgramInvitationDetails, .OrgProgramApplicantDetails, .OrgApplicantsPageDetails, .StuUpdatesApplicationsDetails)
  .ErrorCompContainer {
  width: fit-content;
  margin: auto;
}

/* 
  OrgDirectoryCard,
  StuUpdatesProgramCard,
  StuUpdatesOrganisationCard
*/

.OrgDirectoryCardContainer,
.StuUpdatesProgramCardContainer,
.StuUpdatesOrganisationCardContainer {
  display: flex;
  max-width: 25rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--blue-gray-400);
}

@media screen and (max-width: 420px) {
  .OrgDirectoryCardContainer,
  .StuUpdatesProgramCardContainer,
  .StuUpdatesOrganisationCardContainer {
    max-width: 23rem;
  }
}

:is(.OrgDirectoryCardContainer, .StuUpdatesProgramCardContainer, .StuUpdatesOrganisationCardContainer)
  .DataContainerDiv {
  font-size: 1.2rem;
  width: 19rem;
}

:is(.OrgDirectoryCardContainer, .StuUpdatesProgramCardContainer, .StuUpdatesOrganisationCardContainer)
  .NextBtnDiv {
  padding: 2.8rem 0.5rem;
  text-align: center;
  font-weight: 600;
  color: var(--white);
  background-color: var(--cyan-shade);
  border-radius: inherit;
  width: 6rem;
}

.NextBtnIconContainer {
  margin: auto;
  display: block;
  border: 1px solid var(--blue-gray-300);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  box-shadow: 2px 2px 3px var(--blue-gray-400),
    -1px -1px 3px var(--blue-gray-400);
  background-color: var(--white);
}

.NextBtnIconContainer:hover {
  border-color: var(--blue-gray-400);
}

.NextBtnIcon {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  color: var(--blue-gray-700);
  stroke-width: 0.8;
  animation-name: right-move-next-btn;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes right-move-next-btn {
  50% {
    transform: translateX(2px);
  }
}

/* page & component */

/* 
  OrgProgramInvitaionsPage, 
  OrgViewSearchProgram component, 
  OrgHome component 
*/

.OrgViewSearchProgram .CreateProgramTextContainer,
.OrgProgramInvitationsPage .SendNewInvitationTextContainer,
.OrgHomeSectionContainer .OrgHomeSectionTwo .CreateProgramTextContainer {
  width: fit-content;
  margin: 1.5rem auto;
  border-radius: 5px;
  text-align: center;
}

.CreateProgramTextContainer .CreateProgramText,
.SendNewInvitationTextContainer .SendNewInvitationText {
  padding: 0.3rem 1.4rem;
  border-radius: 5px;
  font-size: 1.3rem;
}

.CreateProgramText .CRClickHereLink,
.SendNewInvitationText .SendNewInvitationClickHere {
  text-decoration: none;
  color: var(--blue-gray-700);
  font-weight: 600;
}

.CreateProgramText .CRClickHereLink:hover,
.SendNewInvitationText .SendNewInvitationClickHere:hover {
  text-decoration: underline;
}

.OrgViewSearchProgram .CreateProgramText,
.OrgProgramInvitationsPage .SendNewInvitationText,
.OrgHomeSectionContainer .OrgHomeSectionTwo .CreateProgramText {
  animation-name: box-shadow-animation;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes box-shadow-animation {
  50% {
    box-shadow: 1px 1px 5px var(--blue-gray-500);
  }
}
