/* Pages */

/* OrganisationRegister, Login, StudentMentorRegister */

:is(.OrgRegisterPage, .LoginPage, .StudentMentorRegisterPage) {
  background-color: var(--red-100);
  min-height: 85vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Components */

/* OrgRegisterUser, OrgRegisterDetails, LoginForm, StudentMentorRegister (page), CommonHome */

:is(.OrgRegisterUserForm, .OrgRegisterDetailsForm, .LoginForm, .StudentMentorRegisterBox, .CommonHomeForm) {
  background-color: var(--white);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--blue-gray-300);
}

/* Overriding User Agent */

.form-control {
  margin-top: 0.5rem !important;
  border: none !important;
  border-bottom: 1px solid var(--blue-gray-600) !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: var(--light-blue-300) !important;
}

.form-control:valid {
  background: none !important;
}

/* End Overriding */

/* Form Button of LoginForm, OrgRegisterDetails, OrgRegisterUser */

.FormButtonContainer {
  text-align: center;
}

.FormButton {
  margin-top: 2rem;
  background-color: var(--blue-gray-600) !important;
  border-color: var(--blue-gray-600) !important;
}

.FormButton:hover {
  background-color: var(--blue-gray-500) !important;
  border-color: var(--blue-gray-500) !important;
}

.FormButton:focus {
  box-shadow: none !important;
}

/* End Form Button */

/* Icon on password input */

.EyeIconInputGroup {
  align-self: flex-end !important;
}

.EyeIconButton {
  background-color: var(--white) !important;
  border: none !important;
  border-bottom: 1px solid var(--blue-gray-600) !important;
  border-bottom-left-radius: 0 !important;
}

.EyeIconButton:focus {
  box-shadow: none !important;
}

:is(.EyeInvisibleIcon, .EyeVisibleIcon) {
  color: var(--black);
}

@media screen and (max-width: 500px) {
  :is(.OrgRegisterUserForm, .OrgRegisterDetailsForm, .LoginForm, .CommonHomeForm) {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 520px) {
  :is(.OrgRegisterUserForm, .OrgRegisterDetailsForm, .LoginForm, .CommonHomeForm) {
    width: 29.25rem;
  }
}
