.StudentDashboardPage {
  padding: 1rem;
}

.StudentDashboardForm {
  max-width: 600px;
  margin: 1rem auto;
  border: 1px solid var(--blue-gray-600);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.StudentDashboardForm .TypeSessionNotesText {
  font-size: 1.2rem;
  position: absolute;
  padding-top: 1.4rem;
  padding-left: 0.5rem;
  color: var(--blue-gray-500);
  pointer-events: none;
}

.StudentDashboardForm .StudentDashboardFormControl {
  margin: 1rem 0;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: var(--blue-gray-700);
  word-wrap: break-word;
}

.StudentDashboardForm .StudentDashboardFormButton {
  text-align: right;
  width: fit-content;
  align-self: flex-end;
}

.CardColumnsContainer {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0.5rem;
}

.CardColumnCard {
  min-height: 5rem;
}

.CardColumnCard:hover {
  cursor: pointer;
}

.ModalBodyForm {
  width: 450px;
}
